<div class="flex justify-center items-center h-screen">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Postez un nouveau article !</h2>

        {{ form_start(form) }}
            <div class="mb-4">
                {{ form_label(form.titre, 'Title', {'class': 'block text-sm font-bold mb-2'}) }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.contenu, 'Content', {'class': 'block text-sm font-bold mb-2'}) }}
                {{ form_widget(form.contenu, {'attr': {'class': 'form-control ckeditor'}}) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.categorie, 'Category', {'class': 'block text-sm font-bold mb-2'}) }}
                {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">{{ button_label|default('PUBLIER') }}</button>
        {{ form_end(form) }}

        <script>
            ClassicEditor.create(document.querySelector('.ckeditor'))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });
        </script>
    </div>
</div>
