{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Ajoutez vos feuilles de styles personnalisées ici -->
{% endblock %}

{% block body %}
    <section class="dark:bg-gray-100 dark:text-gray-800">
        <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
            <div class="flex justify-end mb-6">
                <a href="{{ path('article_new') }}" class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700">Rédiger un article</a>
            </div>
            {% for article in articles %}
                <a rel="noopener noreferrer" href="{{ path('app_article_show', {'id': article.id}) }}" class="block max-w-sm gap-3 mx-auto sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 dark:bg-gray-50">
                    <img src="{{ asset('images/BKabout.png') }}" alt="{{ article.titre }}" class="object-cover w-full h-64 rounded sm:h-96 lg:col-span-7 dark:bg-gray-500">
                    <div class="p-6 space-y-2 lg:col-span-5">
                        <h3 class="text-2xl font-semibold sm:text-4xl group-hover:underline group-focus:underline">{{ article.titre }}</h3>
                        <span class="text-xs dark:text-gray-600">{{ article.date ? article.date|date('F d, Y') : '' }}</span>
                        <p data-content="{{ article.contenu }}">{{ article.contenu }}</p>
                    </div>
                </a>
            {% endfor %}
            <div class="flex justify-center">
                <a href="{{ path('app_article_index') }}" class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-50 dark:text-gray-600">Plus de posts...</a>
            </div>
        </div>
    </section>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('p[data-content]').each(function () {
                    var maxLength = 100;
                    var content = $(this).data('content');

                    if (content.length > maxLength) {
                        content = content.substring(0, maxLength) + '...';
                    }

                    $(this).text(content);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
