{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<section class="bg-gray-200 py-8">
  <div class="container mx-auto">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h1 class="text-3xl font-bold mb-2">{{ article.titre }}</h1>
      <p class="text-sm text-gray-500 mb-4">Publié le {{ article.date ? article.date|date('Y-m-d H:i:s') : 'Date inconnue' }}</p>
      <div class="mb-4">
        <img class="w-full h-auto rounded-lg" src="images/blog/blog-post-1.jpg" alt="">
      </div>
      <h2 class="text-xl font-semibold mb-3">{{ article.titre }}</h2>
      <div class="text-gray-800 space-y-3 mb-4">
        {{ article.contenu }}
      </div>
      <div class="flex items-center space-x-4 text-gray-500 text-sm mb-4">
        <span><i class="fas fa-calendar-alt"></i> {{ article.date ? article.date|date('Y-m-d H:i:s') : 'Date inconnue' }}</span>
        <span><i class="fas fa-user"></i> Posté par {{ article.user }}</span>
        <span><i class="fas fa-tag"></i> CATÉGORIE : {{ article.categorie }}</span>
      </div>
      <div class="flex items-center space-x-4">
        <a href="{{ path('app_article_index') }}" class="text-indigo-600 hover:text-indigo-800 transition duration-300">Retour à la liste</a>
        {% if is_granted('POST_EDIT', article) %}
          <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="text-green-600 hover:text-green-800 transition duration-300">Éditer</a>
          {{ include('article/_delete_form.html.twig') }}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
